
h1 {

    color: #46484c;

}

body{

    text-align: center;
    margin : 0;
    background-color: #fffbf7;

}

.header{

    margin : 40px 20px 0px 20px;
    font-size: 0;

}

.header > * {

    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
    
}

.section{

    margin-top: 15px;
    padding-top: 20px;

}

li{

    display: inline;
    margin-right: 25px;
    color: #025157;

}

.logo{

    width: 15%;

}

.navbar{

    width: 70%;
}
.actions{
    width: 15%;

}

.actions > * {

    font-size: 14px;
    color: #67b54b;
    
}

.actionButton{

    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;

}

.first{

    color: #46484c;

} 

.second{

    color: #8b8b8bcc;
}

button{

    background-color: #025157;
    color: #fff;
  
}

#input{

    border-radius: 5px 0px 0px 5px;
    height: 40px;
    width: 200px;
    border: solid 1px grey;
    padding-left: 15px;

}

#button{

    border-radius: 0px 5px 5px 0px;
    height: 44px;
    border: solid 0px black;
    margin-left: -4px;
    
}